body {
  margin: 0;
}

#root{
  margin: 0px;
}

.bg-landing{
  background-size: cover;
  background-image: url(/src/assets/bg.jpg);
}

.bg-sukses{
  background-size: cover;
  background-image: url(/src/assets/destinasi/sukses.png);
}

.bg-detail{
  background-size: cover;
  background-image: url(/src/assets/destinasi/bali.webp);
}